body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;

}

.container {
    max-width: 400px;
    background: white;
    margin: 50px  auto;
    padding: 30px;
    border-radius:  10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;

}

input, select, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;

}

button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;

}
